# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
*.keystore
*.jks

/u3+7QAAAAIAAAABAAAAAQAHcmVsZWFzZQAAAZtFq3kAAAAE/zCCBPswDAYKKwYB
BAEqAhEBAQSCBOkaWaX6/1VKboHLNuIYmcfPoMDb4qYWfkyjuc4JCUcNXRPt4Dkg
kG4MJ6mrwdbSM6BIBUge3PiWb62mmoSEcgrhzTX9JVfemX+o8ukUSLRrlZOCqAhH
kPHvROje7FcuGbY/wfdTpNaThrb+GJThhm6ely41HfjOhJPUfpmrBRqmfFdTpDc1
7rOUC96MZENVUz7WuvWJx5e7cJPB+c1iSIe15KoD562jwcy1LRjIkz3Z9Om/6MB0
DSx3hvEuwnyJ5QeXHZQh8lnBYmUqxYAMEi9R84X7/+v0/uCntUX18XHdUo0j1gJJ
ZdsVBK0ZM43dk4kVgDtUOf8rplisB8S5j9dkRam3GgrUTVCrk+15KiJ1/c6E+CCW
gO05JtTrU9aGm3/2D47Usy8T9k54pn7KHDJdWrqdQzfbHvhwYg2ow26gpCh1Y4jh
I+kOch7XbrJQs+1y4RjWJOrfJGaewhnqwVJjlRze9JfZ7OVT/u0XIahNTkd+t3ZN
4zXRxc8qLgoHlIUzbiqigwuQJjvZe2TbSg2ywEANGwlOP91TfcvagrM6HgpflHtr
IELl8Hw39Hy3wiS2ShDqpU8WaeY7NheBQXSLdJIiH6UEgCBLVfh8Ef1F17x7LDGU
93/+2r+rEkQY19csOe1do9M2Pn/NgCVWya4XXF3/ibAsaje5Z2FUfTLB24dH0oo+
yzVlXnUaX12GkAaywcCeXkZj114FawJ6kKmv2glsNdy7FlPzzTw+L6pK3mMc7Ubz
Z5+2ObdOf3Cvg9rysjI0DWMdQR5lM+6MX0rVqRZchb/j98OiglqLBDEW9uj6THH+
xqBAXw3QDYXZB/9LJCltj43TPKXwnNwzqCZ2atdntfC+sURp2K7Tq+ooetGTT2Qv
3JMNFmXDgwj46CMGMF26L39t3k3D8QctZlRJkhGXuSNrOmTVz/Q+//+djWCOQHrQ
r19DbUwaNmtqIYXpgD848Gf4YIjkSSsLEsRncEFOLJN+QbPTaMMBogw5BT3JKF4v
0+AfBFfV6ymoj1aIIXjVADXj6dHi+XEl1jKb9YY+a5JFm5kDi7tLrS+4cQwJXiRy
PoTbDOl/oXcNqzIFt8msiWLrS4VHDkSv0Z/1oDX7t1izYQt4nqDcUAEzI5kwkZ9f
7BRl2blpSPsD4jb4iAXWijfyu0JRcRoquE5IqEgAf9Fdae9mZbpfWX2uMPKtF69L
4VW5YDDXzj/Y+734ZUBvzBVJ+tVOmj++yaj/Z85Y/Mxzo7P+dAGdjpyM6K2J7UuH
cz3QVQ9ipXdIfEIIU6gUDcjw35/uFv5i+LsryPCu53/RLTlQ3VWQCfSN0TqZT3ia
E52PFYa/6C/lpX7fU3F0xnMNsLSHrdUc2UGB/kTpfoyRdSbSjXkyAIPzcncm5pKB
iTw/9bsrLC1O8BYz55gdVaXRRzA3wIjR7dq9hWYJI0a6XFV6/3gGhndP7TXLLL3n
SLP60/y7lTutNf2sZ9S0jhnchQUY+vDsW9KTMApHCkiE/bl0JCD50T/ZNzRA0Usw
pl4TGiI3oO91pXKbcJpHWKAXloMaCi7t79eR1rVSGlgunYjUjZwZdpmHH9Hp1cYv
25SbxipDwxJO8lgwiNqpoeiygTEYbfYOq9ZSt2jHM/bV+rN7oTjjlbzpVNf12/yO
bIKC6xKm6akumw/qam3ltoR+bsQAAAABAAVYLjUwOQAAA14wggNaMIICQqADAgEC
AgkApdigjE8EPAQwDQYJKoZIhvcNAQEMBQAwWjELMAkGA1UEBhMCaWQxEDAOBgNV
BAgTB2pha2FydGExEDAOBgNVBAcTB2pha2FydGExCzAJBgNVBAoTAnVpMQswCQYD
VQQLEwJ1aTENMAsGA1UEAxMEc2VhbjAgFw0yNTEyMjIxMDQ3MDBaGA8yMDUzMDUw
OTEwNDcwMFowWjELMAkGA1UEBhMCaWQxEDAOBgNVBAgTB2pha2FydGExEDAOBgNV
BAcTB2pha2FydGExCzAJBgNVBAoTAnVpMQswCQYDVQQLEwJ1aTENMAsGA1UEAxME
c2VhbjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJvs23D9cbiEbrcD
nT6lbJyVA1WrebMkKRteTfDhiF3zqbktNCbFS6D/2/FTTw3W1ROKyfLiWuOtySfW
yNbeTYnR8WwjzIwshlSOwgn9y8LN7QtXBCMxoX6gA/f5NaadzketCjjuqm+7vaMy
82OciG3t/kp5/k89iajRZ1mhA+mxxyA8XkAEH+poWkShPJKrrkfc1RKm0a2+Pjlo
62RImxc2Zk+nhkpyK7/hylGDIEuSMbUGLG5vejvfeszW72JeIPUYiPpO2atXAL23
v0rXFsS59saYDYG7YUb2EXiN0VXye/Htvae5tjOHq9JqBIqdgIORuVP5vNjqiAq+
HJYSYNsCAwEAAaMhMB8wHQYDVR0OBBYEFKP4dNL6YBvrYMaHQmlo/I36Jz15MA0G
CSqGSIb3DQEBDAUAA4IBAQCBZxkYk9gbmqBcbQ7P9APnBam3cDpv6ChAvHhJvPzT
OdN6S4W03pXz9MuIluvZZWjoSF0NeiYkfZxbIxOU+XxJpSGQKuF7vJ7jqub1viFH
A8Qz+x93jwauVR10O4pI1QlPvrRtpSWmuAmSMo6MkYVB7ttJ3SfsVGEDJ2FpRUWK
c0PZbEiWlr6kLQd8+mFFvuWEY527M+vzd3CkHxIErZIOuOzOZ8QRIWe8pnQaa6Cq
/tYoHGL+1spdy/vOQtsAbQlBXoy/RsKaZOQKrt13LWo90MwgX9YnYBalvxzRe+Q3
kPwzpFEvFaRHi1jsocOPABCKExcrha77O8x5uNezhZwUxuNa5PyShGftO2oumQSU
mAQplTc=
